/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 * publish_files = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
 *
 */

params {
    modules {
        'fastqc' {
            args          = "--quiet"
        }
        'raw_counts' {
            publish_dir   = "fastqc"
        }
        'trimmed_counts' {
            publish_dir   = "${params.trimmer}"
        }
        'alignment_stats' {
            publish_dir   = "${params.aligner}"
        }
        'summary_stats' {
            publish_dir   = "summary"
        }
        'merge_raw_counts' {
            args          = "--ftype raw"
            publish_dir   = "fastqc"
        }
        'merge_trimmed_counts' {
            args          = "--ftype trimmed"
            publish_dir   = "${params.trimmer}"
        }
        'merge_mapped_counts' {
            args          = "--ftype mapped"
            publish_dir   = "${params.aligner}"
        }
        'merge_primmermapped' {
            args          = "--ftype primertrimmed"
            publish_dir   = "${params.aligner}"
        }
        'fastp' {
            args          = "--cut_front --cut_tail --trim_poly_x --cut_mean_quality ${params.average_quality} --qualified_quality_phred ${params.qualified_quality_phred} --unqualified_percent_limit ${params.unqualified_percent_limit} --length_required ${params.min_length}"
        }
        'bwa_index' {
            args          = ""
            publish_dir   = "genome/index"
        }
        'bwa_mem' {
            args          = ""
            publish_dir   = "${params.aligner}"
        }
         'bowtie2_build' {
            args          = ""
            publish_dir   = "genome/index"
        }
        'bowtie2_align' {
            args          = ""
            publish_dir   = "${params.aligner}"
        }
        'samtools_sort' {
            suffix        = ".sorted"
            publish_dir   = "${params.aligner}"
        }
        'samtools_sort_host' {
            suffix        = ".sorted"
            publish_dir   = "${params.aligner}/host"
        }
        'samtools_sort_reference' {
            suffix        = ".sorted"
            publish_dir   = "${params.aligner}/reference"
        }
        'samtools_unmapped_fastq' {
            suffix        = ".unmapped"
        }
        'samtools_unmapped_fastq_host' {
            suffix        = ".unmapped"
            publish_dir   = "${params.aligner}/host"
        }
        'samtools_mapped_bam' {
            suffix        = ".mapped"
            publish_dir   = "${params.aligner}/mapped"
        }
        'ivar_trim' {
            suffix        = ".trim"
            args          = "-m ${params.ivar_trim_min_len} -q ${params.ivar_trim_min_qual} -s ${params.ivar_trim_window_width}"
            publish_dir   = "ivar/trim"
        }
        'ivar_trim_samtools' {
            suffix        = '.sorted'
            publish_dir   = "ivar/trim"
        }
        'picard_markduplicates' {
            suffix        = '.mkdup'
            args          = "ASSUME_SORTED=true TMP_DIR=tmp"
            publish_dir   = "picard/markduplicates"
        }
        'picard_markduplicates_samtools' {
            suffix        = '.sorted'
            publish_dir   = "picard/markduplicates"
        }
        'bedtools_genomecov' {
            publish_dir   = 'bedtools/coverage/genome'
        }
        'bedtools_ampliconcov' {
            publish_dir   = 'bedtools/coverage/amplicon'
        }
        'bedtools_amplicon_mean_coverage' {
            publish_dir   = 'bedtools/coverage/mean'
        }
        'bedtools_amplicon_base_coverage' {
            publish_dir   = 'bedtools/coverage/base'
        }
        'plots' {
            publish_dir   = 'plots'
        }
        'mosdepth_amplicon' {
            args         = "--by 200 --fast-mode"
            publish_dir  = 'mosdepth/coverage'
        }
        'multiqc' {
            args          = ""
            publish_dir   = "multiqc/${params.aligner}"
        }
        'ivar_variants' {
            args           = "-q ${params.min_base_quality} -t ${params.min_allele_freq} -m ${params.min_coverage}"
            args2          = "--count-orphans --no-BAQ --max-depth ${params.mpileup_depth} --min-BQ ${params.min_base_quality}"
            publish_dir    = "ivar/variants"
        }
        'ivar_consensus' {
            args           = "-q ${params.min_base_quality} -t ${params.max_allele_freq} -m ${params.min_coverage} -n N"
            args2          = "-aa --count-orphans --no-BAQ --max-depth ${params.mpileup_depth} --min-BQ ${params.min_base_quality}"
            publish_dir    = "ivar/consensus"
        }
        'plot_consensus_density' {
            publish_dir    = 'plots'
        }
        'consensus_qc' {
            publish_dir    = 'summary'
        }
    }
}