/*
* ----------------------------------------------
* Nextflow config file for primer schemes paths
* ----------------------------------------------
* defines primer schemes,
* can be used by any config that customises the base
* path using $params.primerschemes_base / --primerschemes_base
*/

params {
  /*
  * PrimalScheme generated primer schemes file paths 
  */
  primerschemes {
    'RVFV' {
        'V1' {
            'S' {
                bed       = "${params.primerschemes_base}/RVFV/V1/S/primer.bed"
                tsv       = "${params.primerschemes_base}/RVFV/V1/S/primer.tsv"
                insert    = "${params.primerschemes_base}/RVFV/V1/S/insert.bed"
            }
            'M' {
                bed       = "${params.primerschemes_base}/RVFV/V1/M/primer.bed"
                tsv       = "${params.primerschemes_base}/RVFV/V1/M/primer.tsv"
                insert    = "${params.primerschemes_base}/RVFV/V1/M/insert.bed"
            }
            'L' {
                bed       = "${params.primerschemes_base}/RVFV/V1/L/primer.bed"
                tsv       = "${params.primerschemes_base}/RVFV/V1/L/primer.tsv"
                insert    = "${params.primerschemes_base}/RVFV/V1/L/insert.bed"
                }
            }
        }
    }
}